%new-button {
  display: inline-block;
  padding: 1em 2em;
  border: 0.1em solid $white;
  color: $magenta;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-weight:300;
  text-shadow: 0.04em 0.04em 0.04em rgba(0, 0, 0, 0.40);
  text-align:center;
  transition: all 0.15s;
}


.standard-button {
  @extend %new-button;
  background-color: $yellow;
  box-shadow: none;
}
.standard-button:hover {
  color: $orange;
  text-shadow: none;
  border-color: $magenta;
}


.find-art-button {
  margin: 15px 0 10px 0;
}


.objectid-button {
  @extend %new-button;
  color: $white;
  background-color: $orange;
  padding: 0.5em 1em;
}

.objectid-button:hover {
  color: $yellow;
  text-shadow: none;
  border-color: $magenta;
}


.create-button {
  @extend %new-button;
  color: $white;
}
.create-button:hover {
  color: $yellow;
  text-shadow: none;
  border-color: $magenta;
}

.standard-button.update {
  @extend %new-button;
  background-color: $yellow;
  box-shadow: none;
}
.standard-button.update:hover {
  color: $orange;
  text-shadow: none;
  border-color: $magenta;
}

.delete-button {
  @extend %new-button;
  padding: 1em 1.65em;
  color: $white;
  background-color: red;
}
.delete-button:hover {
  color: $yellow;
  text-shadow: none;
  border-color: $magenta;
}

.savead-button {
  padding: 1em 1.2em;
}

@media all and (max-width:30em) {
  %new-button {
    display:block;
    margin: 0.4em auto;
  }
}
