*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

body {
background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(255, 255, 0, .1)), url("/img/trefoil-circle.jpg");
}

h4 {
  filter: drop-shadow(4px 4px 4px $orange);
}

input {
  padding: 10px;
  border: 2px solid $orange;
  box-shadow: 0 0 6px 6px $input-magenta;
  border-radius: 10px;
  width: 100%;
  font-family: inherit;
}

input:focus {
  border-radius: 0;
  background-color: $focus-yellow;
  color: $white;
  box-shadow: 0 0 6px 6px $orange;
}
